# Windows system files
Thumbs.db
desktop.ini

# Mac system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Dropbox
*.dropbox

# Aptana
*.project
.settings/

#SublimeText
*.sublime-project
*.sublime-workspace

# Netbeans
/nbproject/

# Git
.git
*.orig
Icon?

# PHPDocumentor
phpdoc.xml

# Collector - Data
!Data/
Data/**/*
!Data/*
!Data/GetData/**/*
