  input[type="time"]::-webkit-clear-button {
    display: none;
  }
  
  h1{
    color       : grey;
    font-style  : bold;
    text-shadow : 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  }
  
  input{
    border-radius : 10px;
    padding       : 5px;
  }
  
  .elementProperty{
    padding     : 5px;
    font-family : arial;
    text-shadow : 0px 1.5px 0px rgba(255,255,255,.3), 0px -1.5px 0px rgba(0,0,0,.7);
    font-size   : 18px;
    color  : grey;
  }
  
  
  #controlPanel {
    position         :  absolute;
    border           :  2px solid black;
    left             :  810px;  
    width            :  500px;
    top              :  250px;
    height           :  800px;
    padding          :  10px;
    opacity          :  .9;
    border-radius    :  10px;
    z-index          :  5;
    background-color :  #cfebfd;
  }
  
  #controlPanelRibbon {
    padding: 5px;
    border-bottom: 1px solid gray;
  }

  #controlPanelItems > div {
    display: none;
    height: 400px;
    border: none;
  }
  
  #displayEditor{
    width:400px;
    border:2px solid black;
    border-radius: 25px;
    padding:25px;
  }
  #elementArray{
    width         : 400px;
    height        : 800px;
    top           : 250px;
    left          : 1350px;
    position      : absolute;
    border        : 2px solid black;
    border-radius : 25px;
    padding       : 50px;  
  }
  
  #elementTypeList{
    position:absolute;
    left: 20px;
    top : 180px;
  }
  #keyboardResponses{
    width:400px;
    height:500px;
    position:absolute;
    padding:10px;
    border: 2px solid black;
    border-radius: 25px;
  }  
  #interactionEditor{
    width:400px;
    height:500px;
    position:absolute;
    border:2px solid black;
    border-radius: 25px;
    padding:25px;
  }
  
  #procArea{
    position:absolute;
    top:1200px;
    left:800px;
    width:500px;
  }

  #stimArea{
    position:absolute;
    top:1200px;
    width:500px;
  }

  #trialEditor{
    width:800px;
    height:800px;
    position:absolute;
    top:  250px;
    left:0px;
    border:2px solid black;
    border-radius: 25px;
    padding:50px;
  }
    
  #trialCodePreview{
    position:absolute;
    top:1200px;
    left:1000px;
    width: 500px; 
    height: 200px
  }

  #trialEditor:hover{
    border: 2px solid blue;
  }

  #trialTypeLoading{
    padding: 5px;
    border-radius:10px;
  }
  
  #trialTypeName{
    position:absolute;
    left: 20px;
    top: 125px;
    width: 600px;
    line-height: .5;
    font-size:30px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .elementButton{
    background-color:blue;
    color:white;
  }
  .elementButton:hover{
    background-color:white;
    color:black;
  }
  
  .elementButtonSelected{
    
    background-color:green;
    color:white;
  }
  
  .elementButtonSelected:hover{
    background-color:transparent;
    color:black;
  }
  
  .inputElement{
    border:1px solid #cccccc;
  }

  .inputElementSelected{
    background-color:green;
  }
  
  .mediaElement{
    color:blue;
    width:160px;
    height: 160px;
    line-height:70px;
    border: 2px solid blue;
    border-radius: 10px;
    padding:10px;    
  }

  .mediaElementSelected{
    color:green;
    width:160px;
    height: 160px;
    line-height:70px;
    border: 4px solid green;    
    border-radius: 10px;
    padding:10px;    

  }
  .onsetOffset{
    color:grey;
  }
  
  #trialEditor:not(.CreateMode) .textElement:hover {
    border-color       :     black;
    text-shadow        :     -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
  }
  #trialEditor:not(.CreateMode) .mediaElement:hover {
    border-color     :     white;
    background-color :     green;
    color            :     white;
  }
  #trialEditor:not(.CreateMode) .inputElement:hover {
    border-color     : green;
    background-color : green;
    color            : blue;
  }


  .textElement{
    font-size:30px;
    color:black;
  }

  .textElementSelected {
    color:black;
    font-size:30px;
    font-weight:bold;
  }
