#csvSelected{
  display         : inline-block;
  padding : 5px;
  border-radius: 10px;
}

#header { 
  display         : inline-block;
  font-size   : 180%; 
  text-align  : center; 
  margin      : 10px 0 40px; 
}  

#indexButton {
  right:20px;
}

.helpType_Col { display: none; }

#helpTypeDefault { display: inline-block; }

#helperBar {
  display: inline-block;
  width: 20%;
  right: 20px;
  background-color: #EFE;
  border: 2px solid #6D6;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  vertical-align: top;
  margin-top: 10px;
}

.tableArea {
  display         : inline-block;
  width           : 100%;
  box-sizing      : border-box;
  padding         : 10px 30px;
  vertical-align  : top;
}

body { 
  color             : black; 
  background-color  : white; 
}

form {
  text-align  : left; 
}

#sheetsForm {
  display         : inline-block;
  width: auto;
  padding: 0 30px;
}

textarea { 
  border-radius : 5px;
  border-color  : #E8E8E8  ;
}

.typeHeader{
    color:blue;
}
.typeHeader:hover{
    color:green ;
}