h4 {
  display: block;
  text-align: left;
}
.expSelect h3 {
  margin-right: .8em;
}
.expSelect * {
  float: left;
}
/*General settings for Experiment/Common divs*/
.settings {
  text-align: left;
  margin-top: .7em;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 1em;
  border-style: outset;
  min-width: 800px;
}
.settings input[type=textbox] {
  width: 500px;
  padding: 0px 0px 0px .25em;
  vertical-align: bottom;
}
/*Making setting names the same size*/
.boolSetting span, .stringSetting span {
  display: inline-block;
  width: 200px;
  cursor: default;
  padding-top: 5px;
}
/*Styling Boolean settings*/
.boolSetting label {
  margin-right: 1em;
}
.boolSetting > label:hover, .boolSetting > label > input:hover {
  cursor: pointer;
}

/*Shared styles for each option*/
.boolSetting, .stringSetting {
  height: 2.5em;
  display: block;
}
.exp {
  background-color: white;
  border-bottom: 5px #444 double;
}
.common {
  background-color: white;
  margin-bottom: 70px;
}
  .subgroup {
    margin-left: 1em;
    margin-top: .8em;
  }
.subgroup h4 {
  margin-bottom: .5em;
}
#saveSettings {
  background-color: #0f9;
  padding: .5em 2em;
  border-style: none;
  border-radius: 3px;
  margin-left: 1em;
}
#saveSettings:hover {
  background-color: #ffd200;
  cursor: pointer;
}
/*Used for toggling visibility of Experiment/Common settings*/
.type {
  margin-bottom: .7em;
  font-weight: 700;
}