h4 {
    display: block;
    text-align: left;
}
.expSelect h3 {
    padding: .3em 2em .3em 0em;
}
.expSelect * {
    float: left;
}
.settings {
    text-align: left;
    margin-top: 1em;
    line-height: 1.5em;
    background-color: #F1F1F1;
    border-radius: 5px;
    padding: 1em;
}

.settings input[type=textbox] {
    width: 500px;
    padding: 0px 0px 0px .25em;
    vertical-align: bottom;
    resize: vertical;
}
.settings span {
    display: inline-block;
    padding-top: 5px;
}
.settings > label {
    display: block;
}

.settingDisplay {
    display: inline-block;
    width: 200px;
    cursor: default;
}
.boolSetting label {
    margin-right: 1em;
}

.boolSetting > label:hover, .boolSetting > label > input:hover {
    cursor: pointer;
}

.boolSetting, .stringSetting {
    height: 2.5em;
    display: block;
}

.exp {
    background-color: #E1EDD8;
}

.common {
    margin-bottom: 70px;
}

.subgroup {
    margin-left: 1em;
    margin-top: .8em;
}

#saveSettings {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #0f9;
    padding: .5em;
    border-style: none;
    font-size: 1.4em;
    width: 100%;
    height: 50px;
}
#saveSettings:hover {
    background-color: #ffd200;
    cursor: pointer;
}