#analysis_name_block{
  margin-right:30px;
}

#data_analysis_block{
  margin-right:50px;
}

#console_area{
  width:100%;
  height:150px;
  border: 2px inset ;
  overflow:auto;
  color:blue;
}

.descriptive_tables_class td{
  padding:5px;
}

.error_code{
  background-color:pink;
}

.gui_script_areas{
  display:none;
}

.output_toolbox_areas{
  display:none;
}

.succesfull_code{
  background-color:#e8e8f3;
}

#javascript_script{
  width:   100%;
  height:  400px;
}


#table_script_area{
  width:100%;
  height:60%;
}

#output_area{
  border-radius     :10px;
  height            :600px;
  background-color  :#e8e8f3;
  padding           :5px;
  box-shadow        :2px 2px 1px #888888 inset;
  overflow          :auto;
  
}

#analysis_area { display:block; margin:0; padding:0; width:100%; }
#variable_list_area { float:left; display:block; margin:0; padding:0; max-width:10% }
#left_col { float:left; display:block; margin:0; padding:0;  }
#right_col { float:left; display:block; margin:0; padding:25px; }
