#analysis_name_block{
  margin-right:30px;
}

#data_analysis_block{
  margin-right:50px;
}

#console_area{
  width:100%;
  height:150px;
}

#javascript_script{
  width:   100%;
  height:  400px;
}


#table_script_area{
  width:100%;
  height:60%;
}

#analysis_area { display:block; margin:0; padding:0; width:100%; }
#variable_list_area { float:left; display:block; margin:0; padding:0; width:10%; }
#left_col { float:left; display:block; margin:0; padding:0; width:60%; }
#right_col { float:left; display:block; margin:0; padding:0; width:30%; }
