# Allow access to the directory
Order Allow,Deny
Allow from all

# Block access to all .csv, .php files
<FilesMatch "\.(csv|json|php)">
    ##Order Deny,Allow
    Deny from all
</FilesMatch>

## Allow access to generate.php
<Files generate.php>
    Allow from All
</Files>

# Allow access to index.php
<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>