#ToolsNavBar { margin: 0; }
    

#canvas{
  width:400px;
  height:400px;
  
}
    
#ExperimentContainer {
    height: 100%;
    
    border: 0px solid black;
    border-width: 2px 0 2px;
    
    background-color: #DDD;
}

#ExperimentContainer > iframe {
    background-color: #FFF;
    height: 100%;
}

#ExperimentContainer, #ExperimentContainer > iframe {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}


#gui_interface_add_element_table td {
  text-align: center;
  padding:5px;
}
#GUI_area{
  display:none;
  height:100%;
  
}
#Preview_area,#GUI_area{
  height: 400px;
  width:  600px;
}
#preview_gui{
    height:500px;
    width: 100%;
}
#preview_gui > tr {
  width:100%;
}
#support_bar{    
    position:fixed;
    top:70px;
    right: 0px;
    z-index:5;
  }


.gui_preview_buttons{
  width: 100px;
  margin-bottom: 5em;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
    
.custom_table { display: table; border-collapse: collapse; }
.custom_table > div { display: table-row; }
.custom_table > div > div { display: table-cell; padding: 2px 4px; max-width: 320px; vertical-align: top; }

.custom_table > div > .textareaDiv { 
    padding: 10px; 
    width: 500px; 
    max-width: 1200px; 
    height: 20em; }
.custom_table > div > .textareaDiv > textarea {
    padding: 5px;
    width: 1300px;
    height: 50em;
    box-sizing: border-box;
    border: 0; margin: 0;
    vertical-align: bottom;
    background-color: #E0E0E0;
}

.custom_table > div:not(.headers):hover { background-color: #CFC; }
.custom_table > div.headers > div { text-align: center; font-weight: bold; }

#exp_data > tbody > tr > td { text-align: center; padding: 15px; }
#trial_type_selectors {
  text-align:center;
  
}

#trial_type_data > div > div{
  display:none;
}